body {
  background-color: rgb(209, 212, 212);
  color: #222;

}
.title {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  color: rgb(20, 19, 19);
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Times New Roman', Times, serif;
  max-width: 1000px;
  background-color: rgb(27, 43, 117);
  margin: 50px auto;
  border-radius: 16px;
  padding: 0 20px;
  border: 2px solid rgb(178, 215, 250);
  border-color: black;
}

.hero-text {
  flex: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  box-shadow: 4px 4px 4x rgba(61, 60, 60, 0.2);
}
.hero-image {
    opacity: 1;
    border: px solid hwb(155, 153 , 153);
    border-radius: 1px;
    height: auto;
    width: auto;
}
.short-recap {
  max-width: 800px;
  margin: 20px auto;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  text-align: left;
  padding: 20px;
  border-radius: 18px;
  background-color: white;
  border: 2px solid rgb(2, 1, 22);
}
.whosnour {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: rgb(5, 5, 5);
  margin-bottom: 20px;
  margin-top: 40px;
}

.skills {
  background-color: rgb(255, 252, 252);
  border: 2px solid rgb(1, 12, 49);
  border-radius: 15px;
  max-width: 700px;
  margin: 40px auto;
  font-family: 'Inter', sans-serif;
}

.skill {
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.skill span {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
}

.languages {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(1, 12, 49);
  border-radius: 15px;
  max-width: 700px;
  margin: 40px auto;
  font-family: 'Inter', sans-serif;
}

.language {
    background-color: rgb(255, 254, 254);
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.language span {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
}


.hero-image {
  max-width: 100px;
  max-height: 200px;
  border-radius: 1000px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}


.bar {
  background-color: #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
}

.progress {
  height: 20px;
  background-color: rgb(13, 39, 153);
  color: white;
  font-size: 13px;
  line-height: 20px;
  text-align: right;
  padding-right: 8px;
  border-radius: 8px;
}


.contact {
  max-width: 700px;
  margin: 70px auto;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  opacity: 0.9;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border : 2px solid rgb(2, 1, 22);
  box-shadow: rgba(0, 0, 0, 0.2);
}

.contact h2 {
  font-size: 28px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-top: 10px;
}

.contact p {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.contact-info a {
  color: #2563eb;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
  color: blueviolet;
}

.contact-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.projects {
  width: 700px;
  margin: 80px auto;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.projects h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.project-card {
  background-color: hsl(0, 0%, 100%);
  padding: 25px;
  border-radius: 16px;
  border : 2px solid rgb(2, 1, 22);
  box-shadow: rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.12);
}

.projects- a {
  margin-bottom: 10px;
  font-size: 20px;
}

.project-card p {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}

.tag {
  display: inline-block;
  margin-top: 15px;
  padding: 6px 14px;
  font-size: 12px;
  background-color: #2563eb;
  color: white;
  border-radius: 20px;
}
